@tailwind base;
@tailwind components;
@tailwind utilities;

.sideButton:hover .icon {
  @apply text-sky-400
}
.sideButton:focus {
  .icon {
    @apply text-sky-400
  }
  .menuText {
    @apply text-sky-500;
  }
  
}

::-webkit-scrollbar-track {
  background-color: #e5e5e5;
}
::-webkit-scrollbar {
  width: 6px;
  background: #e5e5e5;
}
::-webkit-scrollbar-thumb:hover {
  background: #bbbbbb;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  height: 10px;
  background: #dad7d7;
}




